@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

:root {
  --color-darkest: #35393e;
  --color-dark: #495057;
  --color-medium: #ced4da;
  --color-light: #f1f3f5;

  --color-theme: #1098ad;
  --color-accent: #ffa94d;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--color-light);
  background-color: var(--color-darkest);
  min-height: 100vh;
  padding: 2rem;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.app-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 35vh;
  overflow: hidden;
}

img {
  max-width: 180px;
}

.selection-container {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h3 {
  font-size: 3.2rem;
  padding: 0.8rem;
  cursor: pointer;
}

h3:hover {
  color: var(--color-medium);
  box-shadow: 0 2px var(--color-medium);
}

.error-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.error {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 1.5rem;
  background-color: #495057;
  border-radius: 100px;
}

.progress {
  width: 100%;
  margin: 4rem auto;
  display: grid;
  justify-content: space-between;
  gap: 0.7rem;
  grid-template-columns: auto auto;
  font-size: 1rem;
  color: var(--color-medium);
}

progress {
  -webkit-appearance: none;
  width: 100%;
  height: 12px;
  grid-column: 1 / -1;
}

::-webkit-progress-bar {
  background-color: var(--color-medium);
  border-radius: 100px;
}

::-webkit-progress-value {
  background-color: var(--color-theme);
  border-radius: 100px;
}

.question {
  font-size: 1.2rem;
  text-align: center;
  display: block;
}

.question h4 {
  margin-bottom: 2.5rem;
  margin-right: auto;
  margin-left: auto;
}

.btn {
  display: block;
  font-family: inherit;
  color: inherit;
  font-size: 1rem;
  border: 2px solid var(--color-dark);
  background-color: var(--color-dark);
  padding: 0.7rem 1rem;
  cursor: pointer;
  border-radius: 100px;
  transition: 0.3s;
}

.btn:not([disabled]):hover {
  background-color: var(--color-darkest);
}

.btn-option:not([disabled]):hover {
  transform: translateX(1.2rem);
}

.btn[disabled]:hover {
  cursor: not-allowed;
}

.options {
  margin: 0 auto 3.2rem auto;
  max-width: 400px;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.2rem;
}

.btn-option {
  text-align: center;
}

.btn-option.correct {
  background-color: var(--color-theme);
  border: 2px solid var(--color-theme);
  color: var(--color-light);
}

.btn-option.wrong {
  background-color: var(--color-accent);
  border: 2px solid var(--color-accent);
  color: var(--color-darkest);
}

.next-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-ui {
  margin-bottom: 1.7rem;
  margin-right: auto;
  margin-left: auto;
}

.answer {
  transform: translateX(1rem);
}

.answer.wrong {
  background-color: hsl(0, 100%, 60%);
  border: 2px solid var(--color-darkest);
  color: var(--color-light);
}

.result-container {
  width: 100%;
}

.result {
  max-width: 400px;
  background-color: var(--color-theme);
  color: var(--color-light);
  border-radius: 100px;
  text-align: center;
  margin: 0 auto;
  padding: 1.2rem 0;
  font-size: 1rem;
  font-weight: 500;
}

.finished-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.highScore {
  font-size: 1.2rem;
  text-align: center;
  margin: 3rem auto;
}

.timer-container {
  max-width: 180px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.timer {
  padding: 1.3rem 2.5rem;
  font-size: 1.3rem;
  text-align: center;
  color: var(--color-medium);
  border: 2px solid var(--color-dark);
  border-radius: 100px;
}

.countdown {
  cursor: not-allowed;
}

.go-back {
  cursor: pointer;
  transition: background-color 0.7s ease;
}

.go-back:hover {
  background-color: var(--color-dark);
}

.loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  gap: 1.6rem;
  color: var(--color-medium);
  font-size: 1.4rem;
}

/* CREDIT: https://dev.to/afif/i-made-100-css-loaders-for-your-next-project-4eje */
.loader {
  width: 50px;
  height: 24px;
  background: radial-gradient(circle closest-side, currentColor 90%, #0000) 0%
      50%,
    radial-gradient(circle closest-side, currentColor 90%, #0000) 50% 50%,
    radial-gradient(circle closest-side, currentColor 90%, #0000) 100% 50%;
  background-size: calc(100% / 3) 12px;
  background-repeat: no-repeat;
  animation: loader 1s infinite linear;
}

@keyframes loader {
  20% {
    background-position: 0% 0%, 50% 50%, 100% 50%;
  }

  40% {
    background-position: 0% 100%, 50% 0%, 100% 50%;
  }

  60% {
    background-position: 0% 50%, 50% 100%, 100% 0%;
  }

  80% {
    background-position: 0% 50%, 50% 50%, 100% 100%;
  }
}

@media screen and (min-width: 768px) {
  body {
    padding: 4.2rem;
  }

  .app {
    flex-direction: row;
    gap: 7rem;
    justify-content: space-between;
  }

  .app-header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 60%;
    height: 50vh;
  }

  img {
    max-width: 400px;
    width: 100%;
  }

  .question {
    font-size: 1.8rem;
  }

  .progress {
    width: 50%;
    font-size: 1.8rem;
    gap: 1.2rem;
  }

  .btn {
    padding: 1.2rem 2.4rem;
    font-size: 1.5rem;
  }

  .options {
    max-width: 1000px;
    width: 100%;
    gap: 1.2rem;
  }

  .btn-option {
    text-align: left;
  }

  .answer {
    transform: translateX(2rem);
  }

  .next-container {
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: initial;
    flex-direction: row-reverse;
    align-items: center;
    border: 1px solid red;
  }

  .btn-ui {
    border: 1px solid red;
    max-width: 130px;
    width: 100%;
    float: right;
    margin-bottom: 1rem;
    margin-right: initial;
    margin-left: initial;
  }

  .timer-container {
    max-width: initial;
    width: 50%;
    flex-direction: row;
  }

  .result-container {
    max-width: 700px;
    width: 100%;
  }

  .result {
    max-width: initial;
    padding: 2rem 0;
    margin: initial;
    font-size: 1.4rem;
  }

  .highScore {
    font-size: 1.6rem;
    margin: 4rem auto;
  }

  .finished-container {
    flex-direction: row;
    justify-content: space-around;
    gap: 7rem;
  }

  .error-container {
    max-width: 600px;
    margin: 0 auto;
    justify-content: initial;
  }

  .error {
    font-size: 1.6rem;
    padding: 2rem;
  }
}
